{% extends "base.html" %}
{% block title %}Results page{% endblock %}
{% block content  %}

<div class="friends_main">
		{% block modal %}
		{% endblock %}
			{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
				    <div class="error">
				    	 <p>{{ message }}</p>
				    </div> 
				    {% endfor %}
				  {% endif %}
				{% endwith %}
	<div class="friends_list">
		<form action="" method="POST">
			<h1>Recommend songs to your friends</h1>
		  	<div class="text_bar">
			  	<input type="text" id="friends_user_name" name="user_name" placeholder="Enter Your Name">
			  	<input type="text" id="song_name" name="song_name" placeholder="Enter Song Name">
			  	<input type="text" id="artist_name" name="artist_name" placeholder="Enter Artist Name">
			  	
			  		<input id="add_song"  class="add_name" type="submit" name="submit">
			  			
		  
		 </div>
		</form>
		  
	<hr >
	{%if recommendations %}

  
  	{% for i in range(0, recommendations|length) %}

  	<div id='recommendation_container' class="recommendation_container">
  		<div id='{{i|safe}}' class="each_new_recommendation">
  			{% if recommendations[i].song_preview != None %}
  			<div class="album_cover_image">
  				<img  class='new_album_cover' src= '{{recommendations[i].song_image}}' alt="alternatetext">
  				<a class="link_target" href='{{recommendations[i].song_preview}}' target="_blank" >
				<img  id='play_button' class='new_play' src="../static/images/play.png">
				
              </a>
  			</div>
  			{% else %}
  			<div class="album_cover_image">
  				<img  class='new_album_cover' src= '{{recommendations[i].song_image}}' alt="alternatetext">
  				<a class="link_target" target="_blank" >
				<img onclick='myfunction()' id='play_button' class='new_play' src="../static/images/play.png">
				 <script type="text/javascript">
                    function myfunction(){
                         alert('Sorry preview for this song is unavailable');}
                  </script>
              </a>
  			</div>
  			{% endif %}


	  		<div class="new_recommendation_name">
	  			<p>{{recommendations[i].user_name}} Recommends {{recommendations[i].song_name}} </p>
	  		</div>
	  		 <a href="{{ recommendations[i].song_url }}" target="_blank">
                        <button class='open_in_spotify'> Open in Spotify</button>
               </a>
           
               <div class="rating_center">
             	<input type="text" id='{{i|safe}}'name="rating" placeholder="Rate this song from 1-10">
             	  <input id='rate_button' class="rate_button" type="submit" name="Rate" value="Rate">
               </div>
           
             
  		</div>
  			<hr>
  		{% endfor %}
  		{% endif %}
  		
  		
  	</div>
		  
		  	
		 
          
			
	</div>
	
</div>

{% endblock %}

{% block script2 %}
<script type="text/javascript">
	var friend_recommendation = {{ database_dict|tojson}};
</script>
{% endblock %}