{% extends "base.html" %}
{% block title %}Recommendation page{% endblock %}
{% block content  %}


    <div class="big">
        <div class="header-title">
            <h1 class="title"><b>Recommend me a song!</b></h1>
        </div>
         <div class="content">
             <form class="search" method="post" action="{{ url_for('home') }}">
        <div class="examples">
            <p>Genre could be Afro,Grime,Uk Rap,Pop,Country etc </p>
            <p> Artist name could be Central cee,Solatido,Dave,Wizkid etc</p>
        </div>  
        <div class="verse">
            <h3>{{verse}} </h3>
            
        </div>
 
      <div class="search__field">
         {% with messages= get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="error">
              <p>{{msg}}</p>
            </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
            <label class="search__label" for="text"><b>Enter a song genre('Random' for any random song): </b></label>
            <input type="text" id="text" name="genre">
           
                 <label class='filter__by' for="cars"><b>Filter by:</b></label>
            <select id="filter" name="filter">
                <option value="most_popular">Popularity(Most Popular)</option>
               <!-- <option value="new">Date Released (New)</option> -->
                <option value="least_popular">Populariy (Least Popular)</option>
               <!-- <option value="old">Date Released (Old)</option> -->
            </select>
            <input class="submit-button" id='submit_button' type="submit" name="submit">
           
           
           
        </div>
    </form>
        {% if result %}
        <div id='result_container' class="result">
            <h1 class="title"><b>Search Results for '{{text}}'</b></h1>
        {% for x in result %}
        <ul>
            <div "each_song">
                <li class="service-list">
                    <img  class='album_cover' src= {{ x.get('image') }} alt="alternatetext">
                    {% if x.get('preview')!=None %}
                        <a class="link_target" href={{ x.get('preview') }} target="_blank" >
                            <img id='play_button' class='play' src="../static/images/play.png">
                        </a>
                        {% if x.get('name')|length > 35 %}
                            <b><p>{{ x.get('name')[:35] +"..." }}</p></b>
                             
                        {% else %}
                            <b><p>{{ x.get('name') }}</p></b>
                        {% endif %}
                    {% else %}

                        <a  class="link_target" target="_blank" >
                            <img onclick='myfunction()' id='play_button'  class='play' src="../static/images/play.png">
                            <script type="text/javascript">
                                function myfunction(){
                                    alert('Sorry preview for this song is unavailable');
                                }
                            </script>
                        </a>
                        {% if x.get('name')|length > 35 %}
                            <b><p>{{ x.get('name')[:35] +"..." }}</p></b>
                        {% else %}
                            <b><p>{{ x.get('name') }}</p></b>
                        {% endif %}
                    {% endif %}


                    <a href="{{ x.get('url') }}" target="_blank">
                        <button class='open_in_spotify'> Open in Spotify</button>
                    </a>
                   
                </li>
            </div>      
        </ul>
    

    
        {% endfor %}
</div>
{% endif %}
         </div>
      
    </div>

 
     
   
 
{% endblock %}

