

.service-list {
    list-style-type: none;
    margin:5px;
    padding-left: 50px;
    float: left;
    display: inline-block;

}
.result {
	background-color:#1db954 ;
}
.navbar {
	background-color:black ;

}
.nav-item{
	display: flex;
}
.nav-link{
	color: white;
}
.navbar-brand {
	color: white;
}


.service-list p {
    text-align: left; 
    margin: 0; 
    padding: 0;

}



.search__label {
	color: black;
}

.filter__by {
	color: black;
}


.search__field {
	margin: auto;
	text-align: center;
	color:  white;
}

.title {
	text-align: center;
	color:  black;
	padding: 20px;
}

.examples {
	text-align: center;
}

.big {
	position: absolute;
  background-color:#1db954 ;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  


}

.each_song {

	position:  relative;
	top:  0;
	left: 0;
	display: inline-block;
	margin: 10px;
}
.play {
	position: relative;
	max-width: 100px;
	max-height: 100px;
	top:  20px;
	left: -205px;
	
}
.album_cover {
	max-width: 300px;
	max-height: 300px;
	position:  relative;
	top: 0;
	left: 0;
}
.album_cover:hover {
	filter: grayscale(100%);

	transition:  filter 0.5s ease-in-out;
}
/******Friends.html ****/
.friends_main{
	 position: absolute;
  background-color:#1db954 ;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;

}

.friends_main h1{
	text-align: center;
}

.friends_list {
	background-color: 	black;
	margin: 100px;
	margin-left: 200px;
	width: 1000px;
	height: 100%;
	overflow: auto;
	color: white;
	
}


.friends_list hr{
	background-color: white;
}
#song_name, #user_name, #artist_name{
	margin: auto;
	display: inline-block;
	border-radius: 0.6rem;

}

#user_name{
	margin-left: 200px;
}

#submit_button{
	margin: auto;
	display: inline-block;
	
}

.add_name, .add_song, .delete_name{
	display: inline-block;
	border-radius:  0.4rem;
	background-color: #1db954;
}
.recommendation_name{
	background-color: white;
	color: black;
	width: 500px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 100px;
	border-radius: 0.4rem;
	display: inline-block;

}

.each_new_recommendation{
	display: block;
	margin-left: 30px;
	margin-bottom: 20px;
}

.new_recommendation_name{
	background-color: white;
	color: black;
	width: 500px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: -40px;
	border-radius: 0.4rem;
	display: inline-block;

}


.error{
	background-color:#FFCCCB  ;
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-bottom: -86px;
}
.album_cover_image{
	display: inline-block;
}

.new_album_cover {
	max-width: 300px;
	max-height: 115px;
	position:  relative;
	top: 0;
	left: 0;
}
.new_album_cover:hover {
	filter: grayscale(100%);

	transition:  filter 0.5s ease-in-out;
}
.new_play {
	position: relative;
	max-width: 100px;
	max-height: 50px;
	top:  4px;
	left: -92px;
	
}




/******modal.html*****//

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}
.modal_container{
	overflow: auto;
	background-color:white ;
	width: 1300px;
	height: 500px;
	margin-left: 70px;
	margin-top: 100px;

}
.modal_recommendation_results{
	margin-left: 150px;
	display: inline-block;
}
.modal_header {
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	margin-left: 350px;
}

.modal_choose_song p{
	position: relative;
	top: -130px;
	font-size: 80px;
	left: 30px;
	color: #007bff;
}

.modal_song_name {
	margin-top: -100px;
}

.modal_add_song{
	display: inline-block;
}