@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.service-list {
    list-style-type: none;
    margin:5px;
    padding-left: 30px;
    float: left;
    display: inline-block;

}

.header{
   display: block;
   align-items: center;
   justify-content: center;
   margin-bottom: -15px;
  
    

   
}

.header h1{
    color: white;
    display: block;
    margin: auto;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
 
    background-color: black;
}
nav{
    display: block;
    align-items: center;
    background-color: black;
    justify-content: space-between;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:  10px 25px;
}

nav ul li a{
    color: black;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: green;
    transition: .4s;
}

.verse{
    display: block;
    overflow: auto;
    float: right;
    width: 335px;
    height: fit-content;
    margin: 20px;

}
.verse h3{
    color: darkred;
    font-size: 1.1rem;
}

.service-list p {
    text-align: left; 
    margin: 0; 
    padding: 0;

}



.search__label {
	color: black;
}

.filter__by {
	color: black;
}
.submit-button{
  background-color: black; 
  border: none;
  color: white;
  border-radius: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search__field {
	margin: auto;
	text-align: center;
	color:  white;
	margin-top: 15px;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}

.title {
	text-align: center;
	color:  black;
	font-size: 25px;
	padding: 20px;
}

.examples {
	margin: 20px;
	float: left;
	display: block;
}


.big {
	position: absolute;
  background-color: black;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;

  


}
.header-title{
	background-color: #1db954;
	margin: 20px;
	border-radius: 30px;
}
.content{
	background-color: #1db954;
	margin: 20px;
	height: 100%;
	border-radius: 10px;
	overflow: auto;
}

.each_song {

	position:  relative;
	top:  0;
	left: 0;
	display: inline-block;
	margin: 10px;
}
.play {
	position: relative;
	max-width: 100px;
	max-height: 100px;
	top:  20px;
	left: -205px;
	
}
.album_cover {
	max-width: 300px;
	max-height: 300px;
	position:  relative;
	top: 0;
	left: 0;
}
.open_in_spotify{
	background-color: black;
	color: white;
	border-radius: 10px;
}
.album_cover:hover {
	filter: grayscale(100%);

	transition:  filter 0.5s ease-in-out;
}

.result {
	background-color:#1db954 ;
}

/***********************************************************Friends.html *****************************************************/
.friends_main{
	 position: absolute;
  background-color:#1db954 ;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;

}

.friends_main h1{
	text-align: center;
}

.friends_list {
	background-color: 	black;
	margin: 100px;
	margin-left: 200px;
	width: 1000px;
	height: 100%;
	overflow: auto;
	color: white;
	
}


.friends_list hr{
	background-color: white;
}
#song_name, #user_name, #artist_name{
	margin: auto;
	display: inline-block;
	border-radius: 0.6rem;

}

#friends_user_name{
	margin-left: 200px;
}

#submit_button{
	margin: auto;
	display: inline-block;
	
}

.add_name, .add_song, .delete_name{
	display: inline-block;
	border-radius:  0.4rem;
	background-color: #1db954;
}
.recommendation_name{
	background-color: white;
	color: black;
	width: 500px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 100px;
	border-radius: 0.4rem;
	display: inline-block;

}

.each_new_recommendation{
	display: block;
	margin-left: 30px;
	margin-bottom: 20px;
}

.new_recommendation_name{
	background-color: white;
	color: black;
	width: 500px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: -40px;
	border-radius: 0.4rem;
	display: inline-block;

}


.error{
	background-color:#FFCCCB  ;
	color: black;
	display: block;
	text-align: center;
	margin-top: 20px;
	
}
.album_cover_image{
	display: inline-block;
}

.new_album_cover {
	max-width: 300px;
	max-height: 115px;
	position:  relative;
	top: 0;
	left: 0;
}
.new_album_cover:hover {
	filter: grayscale(100%);

	transition:  filter 0.5s ease-in-out;
}
.new_play {
	position: relative;
	max-width: 100px;
	max-height: 50px;
	top:  4px;
	left: -92px;
	
}




/*********************************************************************************modal.html***************************************************//

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}
.modal_container{
	overflow: auto;
	background-color:white ;
	width: 870px;
	height: 500px;
	margin-left: 70px;
	margin-top: 100px;

}
.modal_recommendation_results{
	margin-left: 150px;
	display: inline-block;
}
.modal_header {
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	margin-left: 200px;
}


.modal_header h2{
	display: inline-block;
}


.modal_choose_song p{
	position: relative;
	top: -130px;
	font-size: 80px;
	left: 30px;
	color: #007bff;
}

.modal_song_name {
	margin-top: -100px;
}

.modal_add_song{
	display: inline-block;
}